# **Project Name**    -

##### **Project Type**    - EDA/Regression/Classification/Unsupervised
##### **Contribution**    - Vikash Tiwari
##### **Team Member 1 -**
##### **Team Member 2 -**
##### **Team Member 3 -**
##### **Team Member 4 -**

# **Project Summary -**



*   There were 119390 rows & 32 columns in the actual dataset
*   List item

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions! This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. Explore and analyze the data to discover important factors that govern the bookings.

#### **Define Your Business Objective?**

Analysing the data of Resort & City Hotel to gain insights on various factors like Best time to book hotel, optimal length of stay to get best rates,time when hotels can expect maximum & minimum bookings,factors that lead to hotel cancellations

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

In [ ]:
#HANDLING MISSING DATA
#STARDARDIZIG DATA FORMATS
#FILTER UNWANTED OUTLIERS
#HANDLING DUPLICATES

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import missingno as msno
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
%matplotlib inline

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
#Loading Linkedin dataset
data= '/content/drive/MyDrive/Robin Sharma Data/AB ROBIN SHARMA LINKEDIN POST DATA.csv'
Linkedin_data= pd.read_csv(data)

### Dataset First View

In [ ]:
# Linkedin Dataset First Look
Linkedin_data

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
rows, columns= Linkedin_data.shape
print(f'there are {rows} Rows & {columns} Columns in this dataset')

### Dataset Information

In [ ]:
# Dataset Info
Linkedin_data.info()

**<h1>1. Handling Duplicate Values**

In [ ]:
# Dataset Duplicate Value Count
duplicate = Linkedin_data.duplicated()
#creating a boolean Series object called duplicate by calling the duplicated() method on the Linkedin_data DataFrame

In [ ]:
duplicate

In [ ]:
# filtering the Linkedin_data DataFrame using the boolean Series 'duplicate' & storig that in duplicate_rows. This would only display duplicate values
duplicate_rows= Linkedin_data[duplicate]

In [ ]:
duplicate_rows
#there are no duplicate rows in this dataframe

**<h1>2. Handling Missing Values/Null Values**

In [ ]:
# Missing Values/Null Values Count
missing_values= Linkedin_data.isnull().sum().sort_values(ascending=False)
missing_values
#This dataframe had 106 null values in video_length column,53 nulls in hashtags_used columns,14 nulls in tags_used,

In [ ]:
#creating bar plot
plt.figure(figsize=(10,6))
#creating a color pallete
palette = sns.color_palette("husl", len(missing_values))
bars = plt.bar(missing_values.index, missing_values, color=palette)
plt.title('Missing Values')
plt.xlabel('Columns')
# Rotate x-axis labels for better readability
plt.xticks(rotation=45, ha='right')
#Lets Annotate the bar plot with missing value counts
for bar in bars:
  height=bar.get_height()
  plt.text(
      bar.get_x() + bar.get_width() / 2,
      height,
      f'{int(height)}',
      ha='center',
      va='bottom'
  )
  #using plt.text() which a function from matplotlib library that adds text to the plot at specified coordinates
plt.ylabel('No of Missing Values')
plt.show()

### What did you know about your dataset?

1.There are total 189 Rows & 16 Columns in this dataset.                         
2.Company column has 94% Null data & agent column has 14% Null data.Country column has only .4% null data & children column has only 4 null data.                        
3.There are 4 types of meal booked BB,FB,HB,SC                                         
4.There are total 31994 missing values

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
Linkedin_data.columns

In [ ]:
# Dataset Describe
Linkedin_data.describe()

In [ ]:
# Check Unique Values for each variable.
for elements in Linkedin_data.columns:
  print('No of Unique values in',elements,'column is',Linkedin_data[elements].nunique())

##Here element represents each column

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
#Missing values
Linkedin_data.isnull().sum().sort_values(ascending=False)[:8]

In [ ]:
#replacing null values of video_length column with 0
Linkedin_data[['video_length(Mins)']]=Linkedin_data[['video_length(Mins)']].fillna(0)

In [ ]:
#replacing null values of hashtags_used column with 'none'
Linkedin_data['hashtags_used']=Linkedin_data['hashtags_used'].fillna('none')

In [ ]:
Linkedin_data.columns

In [ ]:
#Displaying hastags_used & tags_used column
specific_columns = Linkedin_data[['hashtags_used','tags_used']]
specific_columns

In [ ]:
#We have to update hastgas_used columns with Yes or No if hashtags are used or not used. Some hashtags_used rows have 'none' even though tags have been used

def add_hashtags_used(Linkedin_data):
    # Replace 'none' and 'NO' with blank (empty string)
    Linkedin_data['tags_used'] = Linkedin_data['tags_used'].replace(['NONE'], '', inplace=True)

In [ ]:
#checking whether above function have changed all the hashtags_used column data or not
Linkedin_data

In [ ]:
def add_hashtags_used(Linkedin_data):
    # Replace 'none' and 'NO' with blank (empty string)
    Linkedin_data['tags_used'] = Linkedin_data['tags_used'].replace(['none', 'NO'], '')
    # Create 'hashtags_used' column based on 'tags_used'
    Linkedin_data['hashtags_used'] = Linkedin_data['tags_used'].apply(lambda x: 'YES' if pd.notna(x) and x != '' else 'NO')
    return Linkedin_data

In [ ]:
#checking for anymore left null data
Linkedin_data.isnull().sum().sort_values(ascending=False)[:8]

In [ ]:
#To fill all null values in the repost column with 0, you can use the fillna method
# Fill null values in 'repost' column with 0
Linkedin_data['repost'].fillna(0, inplace=True)

In [ ]:
# Display only the rows where 'repost' column has null values
null_repost_rows = Linkedin_data[Linkedin_data['repost'].isnull()]
null_repost_rows

In [ ]:
# Display only the rows where 'tags_used' column has null values
null_repost_rows = Linkedin_data[Linkedin_data['tags_used'].isnull()]
null_repost_rows

In [ ]:
# Display only the rows where 'type' column has null values
null_repost_rows = Linkedin_data[Linkedin_data['type'].isnull()]
null_repost_rows

In [ ]:
#Filling all null 'type' column data with 'Motivation'
Linkedin_data['type'].fillna('Motivation',inplace=True)

In [ ]:
#checking anymore null type rows are left or not
null_type_rows = Linkedin_data[Linkedin_data['type'].isnull()]
null_type_rows

In [ ]:
# Display only the rows where 'likes' column has null values
null_likes_rows = Linkedin_data[Linkedin_data['likes'].isnull()]
null_likes_rows

In [ ]:
#Dropping these 4 rows
Linkedin_data.dropna(subset=['likes'], inplace=True)
null_likes_rows = Linkedin_data[Linkedin_data['likes'].isnull()]
null_likes_rows
#So, now there are null 'likes' rows

In [ ]:
#checking for anymore left null data
Linkedin_data.isnull().sum().sort_values(ascending=False)

In [ ]:
#filling null values of 'influencer_comments' column with zero
Linkedin_data['influencer_comments'].fillna(0,inplace=True)

In [ ]:
#checking for anymore left null data
Linkedin_data.isnull().sum().sort_values(ascending=False)

In [ ]:
#null values in tags column indicates that author havent used any hastags in those posts. so it need not be changed

**<h1>3) Standardizing Data Formats**

In [ ]:
#Checking Data types of all columns
Linkedin_data.info()

In [ ]:
# 'post_date' column is of object data type & has to be changed to datetime format
Linkedin_data["post_date"] = pd.to_datetime(Linkedin_data["post_date"],dayfirst=True)

In [ ]:
Linkedin_data["post_date"]

In [ ]:
#converting post_data from datetime format to string to remove any extra space & remove any unwanted characters
Linkedin_data["post_date"] = Linkedin_data["post_date"].astype(str)

In [ ]:
def parse_dates(date_str):
    for fmt in ('%d-%b-%y', '%d-%b-%Y', '%d %b %Y'):
        try:
            return pd.to_datetime(date_str, format=fmt, dayfirst=True)
        except ValueError:
            continue
    return pd.NaT  # return NaT if none of the formats match

# Apply the custom date parser function to the 'post_date' column
Linkedin_data["parsed_post_date"] = Linkedin_data["post_date"].apply(parse_dates)

# Identify rows with faulty 'post_date' data
faulty_dates = Linkedin_data[Linkedin_data["parsed_post_date"].isna()]

# Display rows with faulty 'post_date' data
print("Rows with faulty 'post_date' data:\n", faulty_dates)

In [ ]:
#Checking Data types of all columns
Linkedin_data.info()

In [ ]:
#converting post_date from string data type to datetime
Linkedin_data["post_date"] = pd.to_datetime(Linkedin_data["post_date"],dayfirst=True)
#THERE WERE ERRORS HERE
#errors='coerce': This is a parameter of the pd.to_datetime() function.
#When errors='coerce' is specified, it tells Pandas to set any errors it encounters during conversion to NaT (Not a Time).
#NaT is a special value in Pandas that represents missing or undefined datetime values.
#This parameter is crucial because it allows the function to handle cases where the input data is not formatted as expected or contains invalid dates without throwing an error.
#Instead of halting the conversion process, Pandas will skip over problematic entries and mark them as NaT.
#WE DID THE CONVERSION I THE NEXT STEP

In [ ]:
#converting post_date from string data type to datetime
Linkedin_data["post_date"] = pd.to_datetime(Linkedin_data["post_date"], errors='coerce')
Linkedin_data.info()

In [ ]:
#Converting post_time to time datatype
import re

def clean_time_string(time_str):
    # Remove leading and trailing spaces
    time_str = time_str.strip()
    # Remove unwanted characters (keep only digits and colons)
    time_str = re.sub(r'[^0-9:]', '', time_str)
    return time_str

# Apply the cleaning function to the 'time' column
Linkedin_data['cleaned_time'] = Linkedin_data['post_time'].apply(clean_time_string)
print("\nCleaned Time Strings:")
print(Linkedin_data)

# Function to convert cleaned time strings to datetime.time
def convert_to_time(time_str):
    try:
        dt = datetime.strptime(time_str, "%H:%M:%S")  # Parse the time string
        return dt.time()  # Extract the time part
    except ValueError:
        return None  # Handle invalid formats

# Apply the conversion function to the cleaned 'cleaned_time' column
Linkedin_data['cl_post_time'] = Linkedin_data['cleaned_time'].apply(convert_to_time)
print("\nConverted Time Objects:")
print(Linkedin_data)

In [ ]:
Linkedin_data.info()

In [ ]:
Linkedin_data['cl_post_time'] = pd.to_datetime(Linkedin_data['cl_post_time'], format='%H:%M:%S', errors='coerce').dt.time
Linkedin_data.info()

In [ ]:
print(Linkedin_data[Linkedin_data['cl_post_time'].isnull()])  # Check rows where conversion failed
#THIS OUTPUT SHOWS THAT ALL CONVERSION HAVE BEEN DONE SUCCESSFULLY
#WE WOULD BE USING THIS COLUMN AS IT IS . IT IS CLEANED COMPLETELY

In [ ]:
#we would drop parsed_post_date,post_time,cl_post_date
columns_to_drop = ['parsed_post_date','post_time','cleaned_time']
Linkedin_data.drop(columns=columns_to_drop,inplace=True)

In [ ]:
Linkedin_data.info()

In [ ]:
Linkedin_data.drop(columns=['cl_post_date'],inplace=True)

In [ ]:
Linkedin_data.info()

In [ ]:
#checking whether the sum column is dropped or not
df_without_duplicates.columns
df_without_duplicates.shape

<h1>Following Manipulations have been done:           

1. Reservation_status_date column data type have been changed to datetime from object

2. New column named **Total_stay** have been created adding weekend & week night stays column. Subsequently, these two columns have been dropped then.
3.New column total_kids have been created adding babies & children column. Subsequently babies & children have been dropped after that.
4.We dropped 180 rows from adults, babies & children column as there were having 0 values
5.We found company column had 94% missing values, agent column had 14% missing values,country column had 488 null values & babies column had 4 null values.Company,babies,agent column null values were replacd by 0 & country column missing values were replaced by Others
6.There were 31980 duplicate values in this dataset. All of them were dropped.